/*====================================
fonts
====================================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*====================================
body
====================================*/
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	position: relative;
	font-family: 'Open Sans', sans-serif;

}


body::before {
	top: 0;
	left: 0;
	width: 100%;
	content: '';
	height: inherit;
	position: absolute;
	filter: blur(0.2em);
	background-size: cover;
	background: url('https://img1.goodfon.ru/original/1280x1024/4/39/peyzazh-priroda-more-voda-pirs.jpg') no-repeat 100% 100%;
}

/*====================================
container
====================================*/
.container {
	top: 50%;
	left: 50%;
	margin: auto;
	width: 25%;
	height: 630px;
	min-width: 350px;
	overflow: hidden;
	position: absolute;
	transform: translate(-50%, -50%);
}

/*====================================
hidden-menu 
====================================*/
.hidden-menu {
	top: 0;
	z-index: 2;
	width: 50%;
	left: -100%;
	height: 100%;
	transition: 1s;
	position: absolute;
	background-color: #343a40;
}

.hidden-menu i.fa-times {
	top: 15px;
	right: 15px;
	font-size: 1.4em;
	position: absolute;
}

.hidden-menu ul {
	margin: 0;
	list-style: none;
	padding: 2em 1.5em;
}

.hidden-menu a {
	color: #fff;
	display: block;
	transition: 5s;
	margin-bottom: 1em;
	position: relative;
	text-decoration: none;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.hidden-menu li a::before {
	opacity: 0;
	content: '';
	width: 100%;
	height: 1px;
	left: -100%;
	bottom: -5px;
	transition: 2s;
	background: #fff;
	position: absolute;
}

.hidden-menu li a:hover::before {
	left: 0;
	opacity: 1;
}

/*====================================
navbar
====================================*/
.navbar {
	color: #fff;
	display: flex;
	padding: 1em 0.5em;
	position: relative;
	background: #B97CFC;
	align-items: center;
	justify-content: space-between;
}

i.fa-bars {
	color: #fff;
	font-size: 1.3em;
}


span {
	font-size: 1.1em;
	font-weight: 300;
	letter-spacing: 0.1em;
}

.profile-picture {
	width: 30px;
	height: 30px;
	position: relative;
}

.profile-picture img {
	width: 100%;
	border-radius: 50%;
}

.notifaction {
	top: 2px;
	width: 5px;
	right: 2px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	background: #F93B69;
}

/*====================================
header
====================================*/
header {
	color: #fff;
	position: relative;
	background-size: cover;
	background: url(https://unsplash.it/1080/720?image=1044);
}

.color-overlay {
	padding: 2em;
	background: rgba(123, 94, 155, 0.5);
}

.day-number {
	font-size: 4em;
	margin-right: 15px;
	display: inline-block;
}

.date-right {
	display: inline-block;
}

.day-name {
	font-size: 1.6em;
}

.month {
	font-size: 0.6em;
	font-weight: 300;
	margin-top: 2px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.actionbutton {
	width: 50px;
	right: 20px;
	height: 50px;
	bottom: -25px;
	display: flex;
	font-size: 2em;
	cursor: pointer;
	font-weight: 300;
	border-radius: 50%;
	position: absolute;
	align-items: center;
	background: #F93B69;
	justify-content: center;
	box-shadow: 0 0 5px #202020;
}

/*====================================
timeline
====================================*/
.timeline {
	height: 100%;
	background: #fff;
}

.timeline ul {
	margin: 0;
	list-style: none;
	position: relative;
	padding: 1.5em 0 1em 2em;
}

.timeline ul::before {
	top: 0;
	left: 2.5em;
	width: 1px;
	content: '';
	height: 100%;
	z-index: -1;
	position: absolute;
	background-color: #d9d9d9;
}

.timeline li div {
	margin: 1em 0;
	vertical-align: top;
	display: inline-block;
}

.timeline .bullet {
	width: 1em;
	height: 1em;
	z-index: 1;
	background: #fff;
	margin-right: 1em;
	border-radius: 50%;
	box-sizing: border-box;
}

.timeline .bullet.pink {
  border: 2px solid #F93B69;
}

.timeline .bullet.green {
  border: 2px solid #B0E8E2;
}

.timeline .bullet.orange {
  border: 2px solid #EB8B6E;
}

.timeline .time {
  width: 20%;
  font-size: 0.75em;
  padding-top: 0.25em;
}

.timeline .desc {
  width: 50%;
}

.timeline h3 {
  margin: 0;
  font-size: 0.9em;
  font-weight: 400;
}

.timeline h4 {
  margin: 0;
  color: #808080;
  font-size: 0.7em;
  font-weight: 400;
}

.timeline .people img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/*====================================
footer
====================================*/
footer {
	width: 100%;
	height: 50px;
	display: flex;
	background: #222;
	position: absolute;
	left: 0; bottom: 0;
	align-items: center;
	justify-content: space-around;
}

footer .fa {
	color: #fff;
	transition: 1s;
}

footer .fa:hover {
	color: #B97CFC;
	transform: rotate(360deg) scale(1.6);
}

/*====================================
author
====================================*/
.author {
	left: 50%;
	margin: 0;
	padding: 0;
	color: #fff;
	bottom: 50px;
	position: absolute;
	text-decoration: none;
	transform: translateX(-50%);
	border-bottom: 1px dashed #fff;
}

.author i {
	color: #fff;
	margin-left: 5px;
	vertical-align: center;
}